/* App.css में इसे डालें */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE और Edge */
  scrollbar-width: none;  /* Firefox */
}
@media (orientation: landscape) and (max-width: 1024px) {
  .landscape-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}